

<div class="navHeader">
    
    <div>
        <a mat-button routerLink="newinfo">Logo</a></div>
    <div>
        <a mat-button routerLink="newinfo">Home</a>
        <a mat-button routerLink="calcultor">Project</a>
        <a mat-button routerLink="aboutas">aboutas</a>
        <a mat-button routerLink="signup">SignUp</a>
    </div>
</div>





<!--
<div class="corToolbar containerToolbar">
    <div>
        <a routerLink="aboutas" mat-button class="corMenu" >Dev ผ่านศึก</a>
    </div>
    <div>
        <a class="corMenu" routerLink="newinfo" mat-button >Home</a>
        <a routerLink="calcultor" mat-button class="corMenu">Project</a>
        <a routerLink="aboutas" mat-button class="corMenu">About As</a>
        <a routerLink="signup" mat-button class="corMenu">SignUp</a>
    </div>
</div>
-->

<!-- 
<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>language</mat-icon> Dev ผ่านศึก</span>

<div class="spacer"></div>
    <a mat-button routerLink="newinfo">Home</a>
    <a mat-button routerLink="calcultor">Project</a>
    <a  mat-button routerLink="aboutas">About As</a>
    <a  mat-raised-button color="accent" routerLink="signup">Signup</a>

</mat-toolbar>
-->