.corToolbar{
    background-color:cornflowerblue;
    
}

.corMenu {
    color: aliceblue;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.containerToolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

