


<div class="contenner">
    <!-- Header-->
    <app-navamenu></app-navamenu>

    <!-- Body -->
    <div class="navMenuConents">
        <div class="navMenublock">
        <!-- Menu -->
        <div class="menu">
            <div>Menu 1</div>
            <div>Menu 1</div>
            <div>Menu 1</div>
            <div>Menu 1</div>
        </div>
        <!-- contents -->
        <div class="contents">
            <div>
                Content 1
            </div>
        </div>
    </div>
    </div>
    
    <!-- footer -->
    <div class="footer">
        Copy 2022
    </div>
</div>











<router-outlet></router-outlet>